.menu-card {
  &__container {
    width: 80%;
    margin: auto auto;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    border-radius: 15px;
    background: var(--color-black);
  }

  &__list-1,
  &__list-2 {
    margin: 0 2rem;
  }

  &__item {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__details {
    margin-left: 3rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__img-container {
    overflow: hidden;
    border-radius: 1.5rem;
  }

  &__img-menu {
    height: 15rem;
    width: 20rem;
    cursor: pointer;
    transition: all 1s;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__star {
    display: flex;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: goldenrod;
  }

  &__description {
    color: var(--color-text);
    font-size: 1.5rem;
  }

  &__price {
    color: var(--color-light1);
    font-size: 2.5rem;
  }
}


