.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: var(--color-dark-brown);
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image:linear-gradient(to right bottom, var(--color-dark-brown), var(--color-light1));
    z-index: 1000;
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__list {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      var(--color-light1) 50%
    );
    background-size: 250%;
    padding: 1rem;
    display: inline-block;
    transition: all 0.4s;

    &:hover {
      background-position: 100%;
      color: var(--color-dark-brown);
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(100);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    transition: all 0.3s ease-out 0.3s;
  }

  ///ICON

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      height: 2px;
      width: 4rem;
      display: inline-block;
      background-color: var(--color-light1);
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
    background-color: #fff;
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
    background-color: #fff;

  }
}
