.fb:hover {
  fill: #1876f2; /* Facebook blue */
  transform: scale(1.2);
}

.insta:hover {
  fill: #dd2a7b;
  transform: scale(1.2);
}

.twitter:hover {
  fill: rgb(4, 172, 245);
  transform: scale(1.2);
}
