.barista {
  display: flex;
  align-items: center;
  &__count {
    text-transform: capitalize;
    font-size: 2rem;
    color:var(--color-light1);
    margin-right: auto;
    cursor: pointer;
    transition: all 2s;
    &--span:hover {
      margin-left: 1rem;
    }
  }

  &__photos {
    box-sizing: content-box;
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    border-radius: 100px;
    border: 3px solid white;
    position: relative;
    &:not(:last-child) {
      margin-right: -1.5rem;
    }
    &:hover {
      color: var(--color-primary);
      transform: scale(1.3);
      z-index: 10000;
      border: 0.3rem solid var(--color-light1);
    }
  }
  &__bakers:hover &__photos:not(:hover) {
    scale: (0.9);
  }
  &__photo:hover + &__photo:not(:hover) {
    transform: scale(1.2);
  }
}
