.composition {
  flex-basis: 50%;
  height: auto;
  position: relative;
  top: 20%;
  left: 10%;
  
  &__photo {
    width: 40%;
    box-shadow: 0 1.3rem 4rem black;
    border-radius: 2px;
    position: absolute;
    cursor: pointer;
    outline-offset: 1rem;
    transition: all 0.3s;
    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 20rem;
      top: 1rem;
    }
    &--p3 {
      left: 10%;
      top: 8rem;
    }
    &:hover {
      outline: 5px solid var(--color-light1);
      box-shadow: 0 1.3rem 4rem rgba(0, 0, 0, 0.577);
      transform: scale(1.05);
      z-index: 5;
    }
  }
}
