.section-book {
  height: 100vh;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(2.2px);
  background-color: rgb(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 99999999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    position: absolute;
    top: 0.1rem;
    right: 3rem;
    font-size: 6rem;

    color: var(--color-light1);
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      color: #fff;
    }
  }

  .row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.book {
  background-image:
    linear-gradient(
      110deg,
      var(--color-light1) 0%,
      var(--color-light1) 50%,
      transparent 50%
    ),
    url(../images/slidingimg/pexels-pavel-danilyuk-6612622.jpg);
  height: 50rem;
  width: 100%;
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(34, 28, 28);
  position: relative;
  &__form {
    width: 50%;
    border-radius: 10px;
    padding: 6rem;
  }
}

//////////////////formm

.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    padding: 1.5rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.8rem;
    caret-color: var(--color-light1);
    color: var(--color-light1);
    background-color: var(--color-dark-brown);
    display: block;
    border-bottom: 4px solid transparent;
    width: 80%;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 4px solid rgb(209, 132, 0);
    }
    &:focus:invalid {
      border-bottom: 4px solid rgb(255, 0, 0);
    }
  }

  &__label {
    font-size: 2rem;

    font-weight: 700;
    margin-top: 0.7rem;
    display: block;
    color: var(--color-dark-brown);
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  //////////////////////////////radio

  &__radio-group {
    width: 32%;
    display: inline-block;
  }

  &__radio-label {
    font-size: 2rem;
    margin-left: 1.5rem;
    color: var(--color-dark-brown);
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
  }
  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid var(--color-dark-brown);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -0.4rem;
    left: 0;

    &::after {
      content: "";
      height: 1.5rem;
      width: 1.5rem;
      background-color: var(--color-dark-brown);
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.1s;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__radio-input {
    display: none;
  }
}

////////////////button

.section-book__cta {
  text-align: end;
  margin-top: 4rem;
  padding-right: 3rem;

  &-button {
    background-color: var(--color-dark-brown);
    color: var(--color-light1);
    padding: 1.5rem 3rem;
    font-size: 2rem;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s;

    &:hover {
      background-color: var(--color-light-brown);
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }
  }
}
