@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

.heading-div {
  text-align: center;
  margin: 2rem 0;
}

.heading-secondary {
  display: inline-block;
  color: var(--color-light1);
  font-size: 5rem;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Roboto Flex", sans-serif;
  margin: 1rem 0;
  transition: all 0.3s;

  &:hover {
    transform: skewY(5deg) skewX(20deg) scale(1.05);
  }
}

.whit {
  padding-inline: 1.5rem;
  color: #ffffff;
  border-radius: 5px;
  background: linear-gradient(45deg, #f1c889, #cba873);
  box-shadow: 5px -5px 7px #a98c60, -5px 5px 7px #ffeaa0;
}

.heading-menu {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.section-book__heading-box {
  margin-bottom: 6rem;
}
.section-book__heading {
  font-size: 5rem;
  color: var(--color-dark-brown);
  font-family: "Roboto Flex", sans-serif;
  text-transform: capitalize;
  transition: all 0.3s;

    &:hover {
    transform: skewY(5deg) skewX(20deg) scale(1.05);
  }
}


//////formmmm   

