//hero section
.site-header {
  &__hero {
    text-align: center;
    min-height: 95vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: imgChange 8s ease-in infinite;
  }
  &__logo-box {
    position: absolute;
    top: 5rem;
    left: 3rem;
    cursor: pointer;
    animation: dropIntop 2s ease-out;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      transform: skewY(5deg) skewX(20deg) scale(1.05);
    }
  }

  &__logo-text {
    color: var(--color-light1);
    font-size: 3rem;
    text-transform: uppercase;
    padding-left: 1rem;
    letter-spacing: 1rem;
  }

  &__text-box {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .heading-primary {
    color: #ffffff;

    & > * {
      display: block;
    }

    &__welcome,
    &__main,
    &__sub {
      margin-bottom: 1rem;
      opacity: 0;
    }
    &__welcome {
      text-transform: capitalize;
      font-size: 2rem;
      position: relative;
      padding-left: 3rem;
      text-align: left;
      animation: moveInright 1s ease-out forwards;
      animation-delay: 0.4s;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        height: 3px;
        width: 2rem;
        background-color: #ffffff;
      }
    }
    &__main {
      text-align: left;
      text-transform: uppercase;
      font-size: 10rem;
      letter-spacing: 2rem;
      animation: moveInleft 1s ease-in-out forwards;
      animation-delay: 1s;
    }
    &__sub {
      display: inline-block;
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: 1rem;
      animation: moveInright 1s ease-in-out forwards;
      animation-delay: 1.4s;
    }
  }
}
