.section-about {
  min-height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  &__content {
    height: auto;
    width: 60%;
    margin: 13rem 20rem;
    background-color: var(--color-dark-brown);
    padding: 5rem;
    box-shadow: 0px 2px 3px black;
  }

  &__label {
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  &__text {
    color: #ffffff;
    font-size: 2.5rem;
    text-transform: capitalize;
    line-height: 1.2;
  }

  &__image {
    margin: auto 0;
  }
}

.menu-card {
  min-height: 100vh;
  background-color: var(--color--primary);
  margin-top: -13vh;
  padding: 3rem 0 10rem 0;

}

.menu-card-2 {
  min-height: 95vh;
  background-color: var(--color--secondary);
  padding: 8rem 0 15rem 0;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.section-reviews{
  min-height: 95vh;
  background-color:var(--color-light1);
  margin-top: -18vh;
  padding: 15rem 0;
}